{
	log {
		level DEBUG
	}
	crowdsec {
		api_url http://localhost:7080
		api_key {env.CROWDSEC_API_KEY}
		ticker_interval 3s
	}
}

localhost {
	route {
		crowdsec
		respond "Allowed by CrowdSec!"
	}
}
