name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.21.x]
        full-tests: [false]
        include:
          - go-version: 1.21.x
            full-tests: true

    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.13' # TODO: fix matrix
          cache: true

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Linting
        if: matrix.full-tests
        run: |
          curl -sL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh |
              sh -s -- -b $HOME/go/bin v1.53.3
          $HOME/go/bin/golangci-lint run --timeout=30m \
                                         --max-issues-per-linter 0 \
                                         --max-same-issues 0 \
                                         ./...

      - name: Testing
        continue-on-error: ${{ matrix.go-version == 'tip' }}
        run: |
          go version
          export GORACE="halt_on_error=1"
          go test -v -race ./...
